// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------


.about {
  padding-left: 20px; 
  padding-right: 52px; 

  @media (min-width:650px){
    max-width: 750px;
  }

  @media (min-width: 900px){
    display: block;
    margin: 0 auto;
    padding: 48px;
    padding-top: 68px;
  }



  h2 {
    font-size: 22px ;
  }
}