// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------


.contact-cta {
    position: absolute;
    padding-top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}