// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------



.contact {
    text-align: center;
    padding-bottom: 180px;
    
    .contact-message {
        font-size: 28px;
        padding-bottom: 50px;
    }
}