// -----------------------------------------------------------------------------
// This file contains styles that are specific to the works page.
// -----------------------------------------------------------------------------


.works {
    text-align: center;

}

.project-images {
    
    img{
        width: 20vw;
        max-width:300px;
        height: auto;
        cursor: pointer;

        @media (min-width: 1000px) {
            width: 100px;
        }
    }

}