// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.site-logo{
    position: absolute;
    z-index: 100;
    top: 0;
    cursor: pointer;

    img{
        width: 80px;
        height: 80px;
    }
}