// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.site-logo{
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 18px;
    cursor: pointer;

    img{
        width: 80px;
        height: 80px;
    }

    &.top {
        z-index: 1;
    }
}

.desktop-nav {
    width: 100%;
    text-transform: uppercase;
    display: none;
    
    @media (min-width: 900px){
        display: block;
    }

    ul {
        position: absolute;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        right: 0;
        top: 32px;
        font-size: 28px;
        letter-spacing: 8px;
    }

    li{
        padding-right: 48px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {

            color: grey;
        }
    }
}