// -----------------------------------------------------------------------------
// This file contains all styles related to the sections of the site/application.
// -----------------------------------------------------------------------------


.section-left {
    display: none;

    @media (min-width: 900px) {
        display: block;
    }

    &.dark {
        background-color: #121923;
    }
}


.section-right {

    @media (min-width: 900px) {
        width: 70%;
   
    }

}

.section-left {
    @media (min-width: 900px) {
        width: 40%;
    }
}