// SIZES
$width__sidebar: 14em;

* {
  box-sizing: border-box;
}

// body {
//   background-color: $color__bg;
// }

.mobile-nav {

  position: absolute;
  top: 0;

  @media (min-width: 900px) {
    display: none;
  }
}

.sidebar-toggle {
  position: fixed;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: $width__sidebar + 2;
  margin-top: 14em;
  background-color: transparent;
  transform: rotate(180deg);
  cursor: pointer;
  transition: .5s;
  color: grey;


  &:hover {
    color: white;
    transition: 0.5s;
  }
  
  &.is-closed {
    transform: translateX(0.3em) rotate(0deg);  
  }
  
  .icon {
    font-size: 1.5rem;
    color: white;
  }
}

.sidebar {
  // display: none;
  width: $width__sidebar;
  height: 100vh;
  background-color: $light-grey;
  transition: .7s;
  z-index: 100;
  position: absolute;
  
    @media (min-width:900px) {
      position: relative;
    }
  
  &.is-closed {
    transform: translateX(-16em);
  }

  .sidebar-links{
    padding-top: 5em;

    .title-links {
      padding-left: 32px;
      text-transform: uppercase;
      color: $dark-grey;
      
      &.top {
        margin-top: 0;
      }


      &:hover {
        color: black;
      }
    }

  }

  .upright-title {
    // padding-top: 4em;
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 30px;
    color: black;
    cursor: pointer;

    &.long {
      letter-spacing: 3px;
      font-size: 28px;
    }
  }



  &.dark {

    background-color: #121923;

    .upright-title {
      color: white;
    }

    .sidebar-toggle:hover {
      color: black;
    }

    .title-links {
      &:hover {
        color: white;
      }
    }
  }

  .upright-title, .title-links {
    cursor: pointer;
  }

}



